
<html>
    <head>
	    <title>Шахматы онлайн</title>
	    <meta charset="UTF-8"/>
	    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=0" />
	    <link rel="stylesheet" th:href="@{/index/index.css}"/>
		
	    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"></script>
	    <script src="https://unpkg.com/current-device/umd/current-device.min.js"></script>
	    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous">
        </script>
        
    </head>
    <body>				
	    <main>
		    <p class="chess_txt">Шахматы онлайн</p>
		    <div class="auth_and_reg_form">
			    <div th:replace="~{forms/AuthAndReg :: AuthAndRegChoiceForm}"></div>
			    <div th:replace="~{forms/AuthAndReg :: AuthForm}"></div>
			    <div th:replace="~{forms/AuthAndReg :: RegForm}"></div>
		    </div>
	    </main>
	    
	    <script th:src="@{/index/index.js}"></script>
    </body>
</html>